@model IEnumerable<WebHr.Models.Alumno>

@{
    ViewBag.Title = "Index";
}

<h2>Consulta de Alumnos</h2>

<form>
    <label>Apellido :</label>
    @Html.TextBox("apellido", "", new { @class = "form-control", placeholder="Ingrese Apellido" })

    <label>Pais:</label>
    @Html.TextBox("pais", "", new { @class = "form-control", placeholder="Ingrese nombre de pais" })

    <br/>
    <button class="btn btn-primary">Consultar</button>

</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        
    </tr>
}

</table>
